.main {
    min-height: 100vh;
    width: 96%;
    overflow: hidden;
    transition: all 0.95s ease-in-out;
    background-color: #e2e2e2;
    margin-left:4vw;
}


.table th{
    color: blue;
    font-weight: 800;

}

