.main {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza todo o conteúdo */
}



.titleContainer {
    margin-left: -65rem; /* Margem ajustada para mais perto da esquerda */
    text-align: left; /* Alinha o conteúdo à esquerda */
}

.titleContainer p {
    color: #004AAD;
    font-size: 38px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1.5rem;
    padding: 50px 0; /* Ajuste o valor para mais ou menos espaço vertical */
}


.containerEstadoCli {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-left: -70rem; /* margem pra esquerda */
    padding: 50px 0; /* Ajuste o valor para mais ou menos espaço vertical */
}

.estado {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.status {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    border-radius: 33px;
    width: 220px;
    text-align: center;
}

.emAbertoCli {
    background-color: red;
}

.emAndamentoCli {
    background-color: #f1c100;
}

.concluidasCli {
    background-color: green;
}

#containerPergunta {
    width: 100%;
    max-width: 700px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 38rem;
    position: relative;
    top: -280px; /* Valor negativo move para cima */
}


.pergunta {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.imgCliente {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: cadetblue;
}

.conteudoPergunta {
    flex: 1;
}

.nomeCliente {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    color: #333;
}

.textoPergunta {
    font-size: 0.9rem;
    color: #555;
    margin-top: 0.25rem;
}

.dataPergunta {
    font-size: 0.9rem;
    color: #777;
    white-space: nowrap;
    text-align: right; /* Alinha a data à direita */
}


