
.card-title{
    color: white;
    font-weight: 800;
    position: relative;
    top: 20%;
}
.card{
    background-color: #004AAC;
    height: 150%;
    width: 100%;
    border-radius: 25px;
    text-align: center;
}
.card img{
    position: relative;
    right: 38%;
}
.card-body{
    margin-bottom: 20px;
}
